.main-generator{
    
        width: 100vw;
        min-height: 100vh;
        position: relative;
        // Start generator1
        overflow: hidden;
            .bubble{
                background: orange;
                position: absolute;
            
                 border-radius: 300px;
                 animation: animBubble 8s forwards ;
                 opacity: 0;
                 filter: hue-rotate(0deg);

            }
         
            h1{
                 font-size: 4rem;
                 text-align: center;
                 margin: 50px;
                 color: teal;
            }
            @keyframes animBubble {
                 to{
                    left: var(--left);
                     top: -260px;
                    opacity: 1;
                 filter: hue-rotate(720deg);

                 }
            }
        // End generator1

         
}