
.form-reservation-holiday{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../imgs/holiday-plage.jpeg') center/cover;
    .form-reservation{
      width: max-content;
      padding: 30px;
     background: #eeeeeeb5;
     border: 1px solid teal;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-radius: 10px;
     h1{
         color: teal;
         text-transform: uppercase;
         font-weight: bold;
         margin: 10px 0 30px 0; 
     }

     input,label{
         display: block;
     }

     label{
         color: teal;
         font-size: 1.6rem;
         margin: 10px 0 ;
     }

     input:not(input[type="submit"]){
         padding: 10px;
         min-width:250px;
         outline:none;
         border: 1px solid teal;
         background: none;
         border-radius: 5px;
         font-size: 1.5rem;
     }

     #totalPrice{
         color: teal!important;
          margin: 20px;
        font-size: 1.6rem;
        position: relative;
        span{
            position: absolute;
            color:red;
        }
     
     }
     #display-price{
         position: relative;
         font-size: 1.5rem;
         &::after{
             content:"$/nigth";
             position: absolute;
             
         }
     
     
     
     }

     input[type="submit"]{
         padding: 15px 20px;
         border-radius: 10px;
         color: white;
          border:none;
          background: teal;
      position: relative;
      right: -60px;
      cursor: pointer;
      transition: .5s ease; 

      &:hover{
    

       transform:   scale(1.06);
      }
           
     }
    
    }

}