 header{
   width: 100vw;
   height: 50vh;
   margin-bottom: 30px;
   background: url('../../imgs/header-bg.jpeg') center/cover;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   

      .container-header{
       width: 60%;
       height: 70%;
       margin: 0 auto;

       h1{
         color: white;
         font-weight: 500;
         font-family: sans-serif;
          flex-wrap: wrap;
          display: flex;
         margin-bottom: 30px;
         font-size: 3.5vw;
         
       }

       .container-search{
           background: white;
           border-radius: 10px; 
           padding: 2px 2px 2px  7px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           ul{
           
              border-radius: 8px;
              margin-right: 10px;
              padding: 10px;
            position: relative;
            background: #DFDFE0;
              a{
                color: #000;
                display: flex;
                align-items: center;
                i{
                    background: none;
                   padding: 4px 7px ;
                }
                }
                

              
              .item{
                &:hover .links{
                  display: block;
               }
                 .links{
                   display: none;
                  width: 100%;
                  top: 110%;
                  left:0;
                   position: absolute;
                  transition: 5s ease;
                   background: white; 
                   &:before{
                     content: '';
                      position: absolute;
                       width: 100%;
                        background: none;
                        height: 20px;
                        left: 0;
                        top: -20px;
                   }
                   li{
                     padding:  10px 0; 
                      width: 100%;
                       &:hover{ 
                              background: #dfdfe048;
                              a{
                                 color: teal;
                              }
                       }


                   }


                 }
              }

            
           }
           form{
             flex-grow: 1;
             display: flex;
              align-items: center;
              justify-content: space-between;
             
              input{
                  background: none;
                  border: none;
                  font-size: 1.8vw;
                  flex-grow: 1;
                  padding: 10px 0;
                outline: none;
                border-right: 1px solid #dedcdc; 

              }

              button{
                 background: none;
                  border: none;
                  font-size: 2vw;
                 padding: 10px;
                 transition: 1s;
                 cursor : pointer;
                 &:hover{
                   color: teal;
                 }
              }
           }
       }
  
      }
          
 }