@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 50vh;
  margin-bottom: 30px;
  background: url("../../imgs/header-bg.jpeg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .container-header {
  width: 60%;
  height: 70%;
  margin: 0 auto;
}
header .container-header h1 {
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 30px;
  font-size: 3.5vw;
}
header .container-header .container-search {
  background: white;
  border-radius: 10px;
  padding: 2px 2px 2px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container-header .container-search ul {
  border-radius: 8px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
  background: #DFDFE0;
}
header .container-header .container-search ul a {
  color: #000;
  display: flex;
  align-items: center;
}
header .container-header .container-search ul a i {
  background: none;
  padding: 4px 7px;
}
header .container-header .container-search ul .item:hover .links {
  display: block;
}
header .container-header .container-search ul .item .links {
  display: none;
  width: 100%;
  top: 110%;
  left: 0;
  position: absolute;
  transition: 5s ease;
  background: white;
}
header .container-header .container-search ul .item .links:before {
  content: "";
  position: absolute;
  width: 100%;
  background: none;
  height: 20px;
  left: 0;
  top: -20px;
}
header .container-header .container-search ul .item .links li {
  padding: 10px 0;
  width: 100%;
}
header .container-header .container-search ul .item .links li:hover {
  background: rgba(223, 223, 224, 0.2823529412);
}
header .container-header .container-search ul .item .links li:hover a {
  color: teal;
}
header .container-header .container-search form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container-header .container-search form input {
  background: none;
  border: none;
  font-size: 1.8vw;
  flex-grow: 1;
  padding: 10px 0;
  outline: none;
  border-right: 1px solid #dedcdc;
}
header .container-header .container-search form button {
  background: none;
  border: none;
  font-size: 2vw;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}
header .container-header .container-search form button:hover {
  color: teal;
}

.container-nav {
  background: teal;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-right: 20px;
  position: relative;
}
.container-nav .logo {
  color: white;
  display: flex;
  align-items: center;
  margin: auto auto auto 30px;
  position: relative;
}
.container-nav .logo .img-logo {
  background: url("../../imgs/4637780.jpg") center/cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin-top: 10px;
}
.container-nav .logo h2 {
  font-size: 1.5vw;
}
.container-nav .nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-self: end;
}
@media screen and (max-width: 789px) {
  .container-nav .nav {
    position: absolute;
    display: none;
    flex-direction: column;
    background: teal;
    top: 100%;
    transition: 5s ease;
  }
  .container-nav .nav .left, .container-nav .nav .right {
    flex-direction: column;
  }
  .container-nav .nav .left li, .container-nav .nav .right li {
    padding: 20px 100px 0 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid gray;
  }
  .container-nav .nav .connexion {
    display: none;
  }
}
.container-nav .nav li {
  margin: 0 10px;
}
.container-nav .nav li a {
  text-transform: uppercase;
  color: white;
}
.container-nav .nav .left {
  display: flex;
  align-items: center;
  position: relative;
}
.container-nav .nav .left li {
  position: relative;
}
.container-nav .nav .left li:hover:before {
  border-bottom: 1px solid blue;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
}
@media screen and (max-width: 789px) {
  .container-nav .nav .left li:hover:before {
    display: none;
  }
}
.container-nav .nav .left .list1 {
  position: relative;
}
.container-nav .nav .left .list1:hover .container-list1 {
  display: block;
  transform: translateY(0);
}
.container-nav .nav .left .list1 .container-list1 {
  background: black;
  position: absolute;
  top: 250%;
  left: 0;
  display: none;
  transition: 0.9s ease;
  transform: translateY(-200%);
}
@media screen and (max-width: 789px) {
  .container-nav .nav .left .list1 .container-list1 {
    top: 90%;
    z-index: 200;
    width: 100%;
    padding-left: 20px;
  }
  .container-nav .nav .left .list1 .container-list1 li {
    border: none;
  }
  .container-nav .nav .left .list1 .container-list1 li a {
    text-transform: capitalize;
  }
}
.container-nav .nav .left .list1 .container-list1::after {
  content: "";
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 100%;
}
.container-nav .nav .left .list1 .container-list1 li {
  padding: 10px 30px 0 0;
}
.container-nav .nav .right {
  display: flex;
  align-items: center;
}
.container-nav .connexion {
  display: flex;
}
.container-nav .connexion2 {
  display: none;
  align-items: center;
  justify-content: center;
}
.container-nav .connexion2 .show-nav {
  display: none;
  color: white;
  font-size: 2rem;
}
@media screen and (max-width: 789px) {
  .container-nav .connexion2 .show-nav {
    display: flex;
  }
}
@media screen and (max-width: 789px) {
  .container-nav .connexion2 {
    display: flex;
  }
}
.container-nav .connexion2 li {
  padding: 0 10px;
}
.container-nav .connexion2 li a {
  color: white;
}
.container-nav .connexion2 li a:hover {
  color: #bbaaaa;
}

.inscrire {
  position: relative;
}
.inscrire .form-inscription {
  position: absolute;
  background: #eee;
  left: -200px;
  top: 150%;
  max-width: 400px;
  min-width: 400px;
  max-height: -moz-max-content;
  max-height: max-content;
  z-index: 3000;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  transition: 1s ease;
  transform: translateX(400px);
  opacity: 0;
  border: 1px solid teal;
}
.inscrire .form-inscription .fa-circle-xmark {
  color: red;
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.inscrire .form-inscription .fa-circle-xmark:hover {
  transform: scale(1.05);
}
.inscrire .form-inscription form {
  width: 100%;
  position: relative;
  margin-top: 40px;
  padding-top: 50px;
}
.inscrire .form-inscription form:before {
  content: "";
  position: absolute;
  background: url("../../imgs/img-icons/man-avatar-icon.jpeg") center/cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10px;
  border: 2px solid teal;
  box-shadow: 1px 1px 10px;
}
.inscrire .form-inscription form > div {
  display: flex;
  flex-direction: column;
}
.inscrire .form-inscription form > div label {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
  color: teal;
}
.inscrire .form-inscription form > div input {
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 80%;
}
.inscrire .form-inscription form .container-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
.inscrire .form-inscription form .container-submit input[type=submit] {
  background: teal;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: white;
  transition: 0.5s ease;
  border-radius: 20px;
  cursor: pointer;
}
.inscrire .form-inscription form .container-submit input[type=submit]:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.show-form-inscription {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.error > input {
  opacity: 1 !important;
  color: red !important;
  border: 1px solid red !important;
}

.error > span {
  color: red !important;
  opacity: 1 !important;
}

.progressBarRed {
  width: 40%;
  background: red;
  height: 2px;
  margin-top: 10px;
}

.progressBarBlue {
  width: 60%;
  background: rgba(94, 167, 167, 0.886);
  height: 2px;
  margin-top: 10px;
}

.progressBarGreen {
  width: 80%;
  background: teal;
  height: 2px;
  margin: 10px 0;
}

.form-reservation-holiday {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../imgs/holiday-plage.jpeg") center/cover;
}
.form-reservation-holiday .form-reservation {
  width: -moz-max-content;
  width: max-content;
  padding: 30px;
  background: rgba(238, 238, 238, 0.7098039216);
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.form-reservation-holiday .form-reservation h1 {
  color: teal;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
.form-reservation-holiday .form-reservation input, .form-reservation-holiday .form-reservation label {
  display: block;
}
.form-reservation-holiday .form-reservation label {
  color: teal;
  font-size: 1.6rem;
  margin: 10px 0;
}
.form-reservation-holiday .form-reservation input:not(input[type=submit]) {
  padding: 10px;
  min-width: 250px;
  outline: none;
  border: 1px solid teal;
  background: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
.form-reservation-holiday .form-reservation #totalPrice {
  color: teal !important;
  margin: 20px;
  font-size: 1.6rem;
  position: relative;
}
.form-reservation-holiday .form-reservation #totalPrice span {
  position: absolute;
  color: red;
}
.form-reservation-holiday .form-reservation #display-price {
  position: relative;
  font-size: 1.5rem;
}
.form-reservation-holiday .form-reservation #display-price::after {
  content: "$/nigth";
  position: absolute;
}
.form-reservation-holiday .form-reservation input[type=submit] {
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  background: teal;
  position: relative;
  right: -60px;
  cursor: pointer;
  transition: 0.5s ease;
}
.form-reservation-holiday .form-reservation input[type=submit]:hover {
  transform: scale(1.06);
}

#explore {
  position: relative;
}
#explore:hover .submenu {
  display: block;
}
#explore .submenu {
  position: absolute;
  top: 40px;
  background: white;
  display: none;
  border-radius: 10px;
  padding: 10px;
  z-index: 200;
}
#explore .submenu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: teal;
  top: -22px;
  left: 0;
}
#explore .submenu li {
  padding: 10px;
  width: 160px;
}
#explore .submenu li a {
  font-size: 12px;
  color: black;
  font-size: bold;
  font-family: sans-serif;
  transition: 0.3s;
}
#explore .submenu li a:hover {
  opacity: 0.2;
}

main {
  width: 100vw;
}
main .container-main {
  width: 80%;
  height: auto;
  margin: 30px auto;
}

.section1 {
  width: 100vw;
  height: 100vh;
  border: 2px solid teal;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}
.section1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-gallery1 {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.section-gallery1 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-gallery1 ul li {
  width: 250px;
  position: relative;
  flex-grow: 1;
  margin: 10px;
  box-shadow: 2px 2px 2px white;
  border-radius: 20px;
}
.section-gallery1 ul li img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.section-gallery1 ul li:hover .icons {
  display: block;
}
.section-gallery1 ul li .icons {
  background: rgba(34, 34, 34, 0.5607843137);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 10px;
}
.section-gallery1 ul li .icons a {
  color: white;
  background: gray;
  padding: 9px 10px;
  display: block;
  border-radius: 7px;
}
.section-gallery1 ul li .icons .like {
  position: absolute;
  padding: 0;
  font-size: 2.5rem;
  background: none;
  color: white;
  margin: 10px 0 0 10px;
}
.section-gallery1 ul li .icons .like:hover {
  color: teal;
}
.section-gallery1 ul li .icons .save:hover, .section-gallery1 ul li .icons .similer:hover {
  background: teal;
}
.section-gallery1 ul li .icons .save {
  right: 0;
  position: absolute;
  margin: 10px 10px 0 0;
}
.section-gallery1 ul li .icons .similer {
  bottom: 0;
  position: absolute;
  right: 0;
  margin: 0 10px 10px 0;
}

.section-gallery2 {
  width: 100%;
  height: auto;
}
.section-gallery2 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-gallery2 ul li {
  height: 450px;
  position: relative;
  flex-grow: 1;
  margin: 10px;
  box-shadow: 2px 2px 2px white;
  border-radius: 20px;
}
@media screen and (max-width: 750px) {
  .section-gallery2 ul li {
    height: 215px;
    width: 159px;
  }
}
@media screen and (min-width: 750px) {
  .section-gallery2 ul li {
    width: 20%;
    height: 395px;
  }
}
.section-gallery2 ul li img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.section-gallery2 ul li:hover .icons {
  display: block;
}
.section-gallery2 ul li .icons {
  background: rgba(34, 34, 34, 0.5607843137);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 10px;
}
.section-gallery2 ul li .icons a {
  color: white;
  background: gray;
  padding: 9px 10px;
  display: block;
  border-radius: 7px;
}
.section-gallery2 ul li .icons .like {
  position: absolute;
  padding: 0;
  font-size: 2.5rem;
  background: none;
  color: white;
  margin: 10px 0 0 10px;
}
.section-gallery2 ul li .icons .like:hover {
  color: teal;
}
.section-gallery2 ul li .icons .save:hover, .section-gallery2 ul li .icons .similer:hover {
  background: teal;
}
.section-gallery2 ul li .icons .save {
  right: 0;
  position: absolute;
  margin: 10px 10px 0 0;
}
.section-gallery2 ul li .icons .similer {
  bottom: 0;
  position: absolute;
  right: 0;
  margin: 0 10px 10px 0;
}

#container-popup {
  background: #000 !important;
}

.main-slider1 {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.main-slider1 .slider1 {
  width: 800px;
  height: 500px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
}
.main-slider1 .slider1 .slides1 {
  width: 500%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.main-slider1 .slider1 .slides1 input {
  display: none;
}
.main-slider1 .slider1 .slides1 #slide1-btn1:checked ~ .first {
  margin-left: -200px;
}
.main-slider1 .slider1 .slides1 .slide {
  width: 20%;
  transition: 2s ease;
  height: 100%;
}
.main-slider1 .slider1 .slides1 .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-slider1 .slider1 .slides1 .navigation-manual {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 200;
}
.main-slider1 .slider1 .slides1 .navigation-manual label {
  padding: 10px;
  border: 2px solid white;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}
.main-slider1 .slider1 .slides1 .navigation-manual label:hover {
  background: teal;
}
.main-slider1 .slider1 .slides1 .navigation-auto {
  width: 800px;
  position: absolute;
  bottom: 30px;
}
.main-slider1 .slider1 .slides1 .navigation-auto .navigation-auto-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slider1 .slider1 .slides1 .navigation-auto .navigation-auto-container .btn {
  padding: 10px;
  border: 2px solid teal;
  color: white;
  margin-right: 20px;
  border-radius: 50%;
  transition: 1s;
}
@media screen and (max-width: 580px) {
  .main-slider1 .slider1 .slides1 .navigation-auto, .main-slider1 .slider1 .slides1 .navigation-manual {
    width: 500px;
  }
}
@media screen and (max-width: 380px) {
  .main-slider1 .slider1 .slides1 .navigation-auto, .main-slider1 .slider1 .slides1 .navigation-manual {
    width: 300px;
  }
}
.main-slider1 .slider1 .slides1 #slide1-btn1 {
  background: teal;
}
.main-slider1 .slider1 .slides1 #slide1-btn1:checked ~ .first {
  margin-left: 0;
}
.main-slider1 .slider1 .slides1 #slide1-btn2:checked ~ .first {
  margin-left: -20%;
}
.main-slider1 .slider1 .slides1 #slide1-btn3:checked ~ .first {
  margin-left: -40%;
}
.main-slider1 .slider1 .slides1 #slide1-btn4:checked ~ .first {
  margin-left: -60%;
}
.main-slider1 .slider1 .slides1 #slide1-btn1:checked ~ .navigation-auto .navigation-auto-container .btn-auto1 {
  background: teal;
}
.main-slider1 .slider1 .slides1 #slide1-btn2:checked ~ .navigation-auto .navigation-auto-container .btn-auto2 {
  background: teal;
}
.main-slider1 .slider1 .slides1 #slide1-btn3:checked ~ .navigation-auto .navigation-auto-container .btn-auto3 {
  background: teal;
}
.main-slider1 .slider1 .slides1 #slide1-btn4:checked ~ .navigation-auto .navigation-auto-container .btn-auto4 {
  background: teal;
}

body {
  background: #eee;
}

.container-popup {
  font-family: sans-serif;
  width: 80%;
  transition: 2s ease;
  min-height: 100vh;
  margin: 30px auto auto;
}
@media screen and (max-width: 900px) {
  .container-popup {
    width: 90%;
  }
}
.container-popup #section-adapt {
  display: grid;
  grid-template-columns: 40% 60%;
}
.container-popup #section-adapt .left {
  margin: 30px 30px 30px 0;
}
.container-popup #section-adapt .left h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.container-popup #section-adapt .left p {
  text-align: justify;
  line-height: 25px;
  font-weight: 500;
  margin-top: 30px;
}
.container-popup #section-adapt .right {
  max-height: 450px;
}
.container-popup #section-adapt .right img {
  width: 100%;
  height: 100%;
}
.container-popup #sectionImprovise {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.container-popup #sectionImprovise h1 {
  font-size: 2.5rem;
  margin: 20px;
}
.container-popup #sectionImprovise p {
  line-height: 25px;
  margin: 20px;
  text-align: justify;
}
.container-popup #sectionImprovise .left {
  margin-right: 30px;
}
.container-popup #sectionImprovise .left img {
  width: 100%;
  max-height: 400px;
  transition: all 2s ease;
  opacity: 0;
  transform: translateX(-400px);
}
.container-popup #section-overcome {
  background: rgba(52, 187, 255, 0.287);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container-popup #section-overcome h1 {
  font-size: 2.5rem;
}
.container-popup #section-overcome .left h1 {
  font-size: 2.5rem;
  margin: 30px;
}
.container-popup #section-overcome .left p {
  margin: 30px 0;
  line-height: 25px;
  text-align: justify;
}
.container-popup #section-overcome .right img {
  width: 100%;
}
.container-popup #containerPopup {
  background: linear-gradient(90deg, #30587a, rgb(36, 113, 180));
  position: fixed;
  bottom: 300px;
  z-index: 200;
  right: 20px;
  padding: 30px;
  border-radius: 20px 80px 30px 80px;
  height: 250px;
  width: 520px;
  transform: translateX(450px);
  transition: 2s all;
  opacity: 0;
}
.container-popup #containerPopup #btnShow {
  border: 2px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  top: -15px;
  left: -30px;
  margin: 0 30px 30px 30px;
  box-shadow: 0px 1px 17px 7px #597286;
  cursor: pointer;
}
.container-popup #containerPopup #btnShow span {
  width: 80%;
  position: absolute;
  display: block;
}
.container-popup #containerPopup #btnShow span:first-child {
  transform: rotate(45deg);
  border: 2px solid white;
}
.container-popup #containerPopup #btnShow span:last-child {
  transform: rotate(-45deg);
  border: 2px solid white;
}
.container-popup #containerPopup .text {
  color: white;
  margin-bottom: 20px;
}
.container-popup #containerPopup .text h2 {
  font-size: 2rem;
  font-weight: 100;
}
.container-popup #containerPopup .text p {
  text-transform: capitalize;
}
.container-popup #containerPopup form {
  margin-bottom: 30px;
}
.container-popup #containerPopup form input, .container-popup #containerPopup form button {
  border-radius: 10px;
  border: none;
  height: 50px;
}
.container-popup #containerPopup form input {
  padding: 20px;
  width: 300px;
}
.container-popup #containerPopup form button {
  width: 100px;
  height: 50px;
}

.show-scrollY-img {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.show-scrollY-popup {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.hidden-scrollY-popup {
  transform: translateX(500px) !important;
  opacity: 0 !important;
}

.containerTestAnime {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.containerTestAnime h1 {
  text-align: center;
  font-size: 3rem;
  position: relative;
}
.containerTestAnime h1:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: rgb(27, 27, 27);
  animation: h1Anime 1s infinite;
  opacity: 0;
}
@keyframes h1Anime {
  to {
    opacity: 1;
  }
}

.container-compte-rebours {
  margin: 50px auto;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-compte-rebours h1 {
  margin: 20px;
}
.container-compte-rebours form {
  max-width: -moz-max-content;
  max-width: max-content;
}
.container-compte-rebours form input[type=number] {
  padding: 7px 30px;
  border: 1px solid teal;
}
.container-compte-rebours form input[type=submit] {
  padding: 9px;
  background: teal;
  color: white;
  cursor: pointer;
  position: relative;
  left: -3px;
  transition: 0.3s ease;
  border-radius: 0 7px 7px 0;
  border: none;
}
.container-compte-rebours form input[type=submit]:hover {
  background: rgb(61, 161, 161);
}
.container-compte-rebours #displayCountDown {
  margin-top: 30px;
  color: teal;
  font-size: 2rem;
}

.main-todo-list {
  width: 100vw;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-todo-list .container-todolist {
  background: rgb(144, 45, 9);
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  min-width: 500px;
}
.main-todo-list .container-todolist h1 {
  text-align: center;
  margin: 0 0 20px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.main-todo-list .container-todolist form .container-input {
  display: flex;
  padding: 7px;
}
.main-todo-list .container-todolist form .container-input input[type=text] {
  flex-grow: 1;
}
.main-todo-list .container-todolist form button {
  background: none;
  outline: none;
  border: none;
}
.main-todo-list .container-todolist form button input {
  border: none;
  background: teal;
  outline: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 0 5px 5px 0;
  transition: 0.8s ease;
  color: white;
  font-size: 1.2rem;
}
.main-todo-list .container-todolist form button input:hover {
  background: rgba(5, 255, 255, 0.911);
}
.main-todo-list .container-todolist ul {
  padding: 20px 0 0 20px;
}
.main-todo-list .container-todolist ul li {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 7px 0;
}
.main-todo-list .container-todolist ul li::before {
  position: absolute;
  content: "*";
  font-size: 2rem;
  color: orange;
  left: -17px;
  top: -4px;
}
.main-todo-list .container-todolist ul li::after {
  position: absolute;
  content: "(terminer)";
  color: teal;
  right: 50%;
  opacity: 0;
  background: white;
  padding: 0 8px;
}
.main-todo-list .container-todolist ul li:hover::after {
  opacity: 1;
}
.main-todo-list .container-todolist ul li.checked::before {
  position: absolute;
  content: "✓";
  font-size: 1.5rem;
  color: orange;
  left: -20px;
  top: -4px;
}
.main-todo-list .container-todolist ul li.checked {
  text-decoration: line-through;
}
.main-todo-list .container-todolist ul li.checked::after {
  position: absolute;
  content: "(supprimer)";
  color: orange;
  right: 50%;
  opacity: 0;
}
.main-todo-list .container-todolist ul li.checked:hover::after {
  opacity: 1;
  z-index: 200;
  color: red;
  background: white;
  padding: 0 8px;
}

.blablague-container {
  margin: 50px auto;
  max-width: -moz-max-content;
  max-width: max-content;
  background: teal;
  min-height: 200px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.blablague-container h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
}
.blablague-container p {
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}
.blablague-container .btn {
  padding: 15px 20px;
  text-align: center;
  margin: 20px auto;
  background: rgb(79, 191, 191);
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 10px;
  transition: 0.2s ease;
}
.blablague-container .btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: rgba(79, 191, 191, 0.646);
}

.photos {
  width: 190vw;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photos .photos-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-users {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
}
.container-users .users {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-users .users .card {
  min-width: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
}
.container-users .users .card .card-head {
  height: 150px;
  border-bottom: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-users .users .card .card-head .bg-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: url("https://images.unsplash.com/photo-1561078450-5741201decec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80") center/cover;
}
.container-users .users .card .card-head .bg-header img {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border-radius: 50%;
}
.container-users .users .card .card-body {
  padding: 10px 20px;
}
.container-users .users .card .card-body h2 {
  margin-top: 20px;
}
.container-users .users .card .card-body ul li {
  line-height: 30px;
}

.meal-container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
  padding-top: 0;
}
.meal-container .meals {
  width: 100%;
  height: 100%;
}
.meal-container .meals .formulaire {
  min-width: 250px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #eee;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 10px;
  padding: 20px;
}
.meal-container .meals .formulaire form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.meal-container .meals .formulaire form label {
  font-size: 1rem;
  font-weight: bold;
  font-family: tahoma;
  color: #484646;
  margin-bottom: 20px;
  text-align: center;
}
.meal-container .meals .formulaire form input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: rgba(148, 199, 199, 0.581);
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.meal-container .meals #result {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.meal-container .meals #result .card {
  flex: 1 0 30%;
  max-width: 250px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
}
.meal-container .meals #result .card .card-header h2 {
  color: teal;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.meal-container .meals #result .card .card-header h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.meal-container .meals #result .card .card-header .card-img-top {
  min-height: 200px;
  max-height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.meal-container .meals #result .card .card-header .card-img-top img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.meal-container .meals #result .card .card-body {
  padding: 20px;
}
.meal-container .meals #result .card .card-body li {
  line-height: 25px;
}/*# sourceMappingURL=index.css.map */